#------------------------------------------------------------------------------
# Disable MultiViews
#------------------------------------------------------------------------------
# 
# Necessary to prevent problems when using a controller named "index" and having 
# a root index.php. 
# 
# More here: http://httpd.apache.org/docs/2.2/content-negotiation.html.
# 
Options -MultiViews


#------------------------------------------------------------------------------
# Disable Indexes
#------------------------------------------------------------------------------
# 
# Prevents people from looking directly into directories if no default file like
# index.php or index.html exists.
# 
Options -Indexes


RewriteEngine On


#------------------------------------------------------------------------------
# Pretty URL's
#------------------------------------------------------------------------------
#
# If the accessed page is not a directory, file or symbolic link, direct URL's 
# like http://example.com/my/url/17/ to http://example.com/index.php?url=my/url/17/.
# 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
    # Append to query string (QSA) and end the condition (L)
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
